-# code: 'UTF-8'

%head
  %title Twitch Stream Vote Database
%body
  %h2 List of all games
  %ul
    - @games.each do |g|
      %li
        %div #{g.name}, Year: #{g.year}, Current Votes: #{g.votes}
  %a{href: "/new_game/"} Add a New Game
