-# code: 'UTF-8'

%head
  %title Twitch Stream Vote Database
%body
  %h2 List of all games
  %ul
    - @games.each do |g|
      %li
        %div
          %a{href: "/games/#{g.id}"} #{g.name}
          -# %span, Year: #{g.year}, Current Votes: #{g.votes}
  %a{href: "/new_game/"} Add a New Game
  %div
    %a{href: "/"} Back to Main Page
