-# code: 'UTF-8'

%head
  %title Twitch Stream Vote Database
%body
  %h2 List of Game Queues
  %ul
    - @gameQueue.each do |g|
      %li
        %div
          %a{href: "/game_queues/#{g.id}"} #{g.name}
  %div
    %a{href: "/"} Back to Main Page
