-# code: 'UTF-8'

%head
  %title Twitch Stream Vote Database
%body
  %h2 Create New Game Console Entry
  %form{action: '/new_game_console', method: 'post'}
    %ul
      %li
        %input{placeholder: 'Game Console Name', type: 'text', name: 'name'}
    %input{type: 'submit'}
