-# code: 'UTF-8'

%head
  %title Twitch Stream Vote Database
%body
  %h2 Create New Game Entry
  %form{action: '/new_game', method: 'post'}
    %ul
      %li
        %input{placeholder: 'Game Name', type: 'text', name: 'name'}
      %li
        %span Game Console:
        %select{name: 'game_console_id', label: " "}
          %option{value: "no_console", disabled: "disabled", selected: "selected"} Select Game Console
          - @gameConsoles.each do |g|
            %option{value: "#{g.id}"} #{g.name}
    %input{type: 'submit'}
    %div
      %a{href: "/games/"} Back to Games
    %div
      %a{href: "/"} Back to Main Page
