-# code: 'UTF-8'

%head
  %title Twitch Stream Vote Database
%body
  %h2 Create New Game Queue Entry
  %form{action: '/new_game_queue', method: 'post'}
    %ul
      %li
        %input{placeholder: 'Game Queue Name', type: 'text', name: 'name'}
    %input{type: 'submit'}
